html {
    background-color: black;
}

img {
    border: 5px white solid;
    height: 400px;
}

#meme {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}
